:root {
    --side-bar-bg-color: #fafafa;
    --control-text-color: #777;
    --typora-center-window-title: true;
}

html {
    font-size: 16px;  
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: initial;
}

body {
    color: rgb(51, 51, 51);
    line-height: 1.6;
}


/* input mode  */
#write {
    max-width: 960px;
    padding-top: 2em;
    padding-left: 60px;
    padding-right: 60px;
    min-height: calc(100vh - 6em);
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    margin: 0 5em;
}

.typora-node #write {
    min-height: calc(100% - 6em);
}


/* meta - message - block */
pre.md-meta-block {
    color: rgba(146, 115, 91, 0.81);
    padding: 1em;
    border-radius: 2px;
    font-size: 14px;
    background: rgba(251, 246, 222, 0.5);
}

@media screen and (max-width: 800px) {

    #write {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width: 1100px) {
    #write {
        max-width: 1000px;
        padding: 40px 60px;
    }

    /* paper outline */
    .pin-outline #write {
        max-width: 1000px;
        margin: 0 0 0;
        border: 0;
        padding-left: 60px;
        padding-right: 60px;
    }

    footer {
        background-color: transparent;
    }
}

@media screen and (min-width: 1300px) {
    .pin-outline #write {
        max-width: 1000px;
        padding: 40px 60px;
    }
}

#write > ul:first-child,
#write > ol:first-child{
    margin-top: 30px;
}

/** 开始改动 **/

a {
    color: #4183C4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}
h1 tt,
h1 code {
    font-size: inherit;
}
h2 tt,
h2 code {
    font-size: inherit;
}
h3 tt,
h3 code {
    font-size: inherit;
}
h4 tt,
h4 code {
    font-size: inherit;
}
h5 tt,
h5 code {
    font-size: inherit;
}
h6 tt,
h6 code {
    font-size: inherit;
}
h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    /* border-bottom: 1px solid #eee; */
}
h2 {
   padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    /* border-bottom: 1px solid #eee; */
}
h3 {
    font-size: 1.5em;
    line-height: 1.43;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1em;
}
h6 {
   font-size: 1em;
    color: #777;
}
p,
blockquote,
ul,
ol,
dl,
table{
    margin: 0.8em 0;
}
li>ol,
li>ul {
    margin: 0 0;
}
hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

li p.first {
    display: inline-block;
}
ul,
ol {
    padding-left: 30px;
}
ul:first-child,
ol:first-child {
    margin-top: 0;
}
ul:last-child,
ol:last-child {
    margin-bottom: 0;
}
blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    color: #777777;
}
blockquote blockquote {
    padding-right: 0;
}
table {
    padding: 0;
    word-break: initial;
}
table tr {
    border-top: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n),
thead {
    background-color: #f8f8f8;
}
table tr th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
}
table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}
table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}

/** 以下不需要改动 **/

.CodeMirror-lines {
    padding-left: 4px;
}

.code-tooltip {
    box-shadow: 0 1px 1px 0 rgba(0,28,36,.3);
    border-top: 1px solid #eef2f2;
}

.md-fences,
code,
tt {
    border: 1px solid #e7eaed;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
}

code {
    background-color: #f3f4f4;
    padding: 0 2px 0 2px;
}

.md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
}


.md-task-list-item > input {
  margin-left: -1.3em;
}

@media print {
    html {
        font-size: 13px;
    }
    table,
    pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
}

.md-fences {
	background-color: #f8f8f8;
}
#write pre.md-meta-block {
	padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    color: #777777;
    margin-top: 0 !important;
}

.mathjax-block>.code-tooltip {
	bottom: .375rem;
}

.md-mathjax-midline {
    background: #fafafa;
}

#write>h3.md-focus:before{
	left: -1.5625rem;
	top: .375rem;
}
#write>h4.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
#write>h5.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
#write>h6.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
.md-image>.md-meta {
    /*border: 1px solid #ddd;*/
    border-radius: 3px;
    padding: 2px 0px 0px 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag {
    color: #a7a7a7;
    opacity: 1;
}

.md-toc { 
    margin-top:20px;
    padding-bottom:20px;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#typora-quick-open-item {
    background-color: #FAFAFA;
    border-color: #FEFEFE #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
}

/** focus mode */
.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

header, .context-menu, .megamenu-content, footer{
    font-family: "Segoe UI", "Arial", sans-serif;
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state{
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: #fafafa;
    background-color: var(--side-bar-bg-color);
}

.md-lang {
    color: #b4654d;
}

.html-for-mac .context-menu {
    --item-hover-bg-color: #E6F0FE;
}

#md-notification .btn {
    border: 0;
}

.dropdown-menu .divider {
    border-color: #e5e5e5;
}

.ty-preferences .window-content {
    background-color: #fafafa;
}

.ty-preferences .nav-group-item.active {
    color: white;
    background: #999;
}

/** 覆盖掉样式 **/


pre code {
    border: none;
    font-weight: 400!important;
    background: none;
    display: block;
    border-radius: 0
}

 code, pre code {
    font-size: 14px;
    font-family: Source Code Pro,Consolas,Liberation Mono,Menlo,Courier,monospace
}

 code {
    background-color: #f4f4f4;
    display: inline-block;
    word-break: break-all;
    padding: 0 5px
}

 
table {
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto
}

 table tr {
    background-color: #fff
}

 table tr:hover>td {
    background-color: #f5f5f5;
    background-clip: padding-box
}

 table td, table th {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
    height: 40px;
    min-width: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    margin: 0;
    padding: 0 18px
}

 table th {
    background-color: #f5f5f5
}

 
body {
    width: 100%;
    text-align: left;
    padding: 0;
    margin-top: 5px;
    font-family: -apple-system,BlinkMacSystemFont,PingFang-SC-Regular,Hiragino Sans GB,Microsoft Yahei,Arial,sans-serif;
    font-size: 16px;
    color: #4c4e4d;
    line-height: 30px;
    font-weight: 400;
    word-break: normal;
    word-wrap: break-word
}
 
 a {
    text-decoration: none;
    border-bottom: 1px solid #d71a1b;
    color: #292525;
    -webkit-transition: all .2s;
    transition: all .2s
}

 a:focus, a:hover {
    border-bottom: 2px solid #d71a1b
}

 a img {
    display: block
}

 sup {
    color: #fff;
    background-color: #655e5e;
    border-radius: 2px;
    font-size: 10px;
    line-height: 1;
    padding: 1px 5px;
    top: -.1em;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
    cursor: help;
    position: relative
}

 u {
    text-decoration: none;
    border-bottom: 1px solid #655e5e
}

 pre {
    background-color: #f5f5f5;
    padding: 20px;
    white-space: pre-wrap;
    word-break: break-all
}
 
 pre p {
    margin: 0;
    line-height: 22px
}

 
 

 hr {
    margin: 20px auto;
    border: none;
    border-top: 1px solid #e5e5e5;
    height: 0;
}
 

 ol, ul {
    padding-left: 36px;
    padding-right: 36px;
    margin: 40px auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

 
 ol ol, ol ul, ul ol, ul ul {
    border-left: none
}

 ul {
    list-style-type: disc
}

 ol {
    list-style-type: decimal
}

 ol li, ul li {
    margin: 10px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: #4c4e4d
}

 

 blockquote {
    position: relative;
    display: block;
    margin: 37px auto;
    border-left: 2px solid #fd281a;
    font-style: normal;
    text-align: left;
    color: #8e8787;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    padding: 0 12px
}

 

 blockquote:before {
    content: "";
    width: 11.2px;
    height: 8.4px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAARCAYAAADHeGwwAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFBSURBVHgB7ZQ/UoNAFMa/t6BhYiF2ig2d2HGE5AYeIZwgeoLEk2S8QTxBcgNbxopGTReqmCjsk2UmCMifJDPOWPgVDLvzvd/7WN4s8Mui8gbbpgmjO2SGS5uVR0EYtkE+nfMemG4E0anmv3q1Dfj6YihBYzBMtZaQ/SN/Ma8Dp2E6JyNJfLvdSxoUmHpmdqyRZIyxh7jTnTGx2+QR6hE5lwOJHJwQJuv7xvRJICbk4BwIyEHZl35OfGU9ITMrI/fJXwS1cNs2pfGxzCCEKb1X/y+hzMglkWCvCZ4GOt70CilZ3tUNg4iMdeEMm47lu0qY21cGz5sC6eWN2LEmP3igBPLyUAUgJreqhiU/6s9vU1IzLCBmaFF+ZNVQEHjSViPWqzOBHUXQbOypyDDcnRscqv8Gf6ABx1rrdaykiWiJA/QFHEl+W66g4YEAAAAASUVORK5CYII=") no-repeat;
    display: block;
    background-size: contain;
    line-height: 160%;
    margin-left: 4px;
    margin-bottom: 7.2px
}

 blockquote p {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%
}

 blockquote p:last-child {
    margin-bottom: 0
}
 

 blockquote a {
    color: #8e8787;
    border-bottom: 1px solid #8e8787
}

 img {
    max-width: 100%;
    position: relative
}
 

 p {
    margin: 0 0 20px 0;
    line-height: 30px
}

 del, strike {
    text-decoration: line-through
}

 b, strong {
    font-weight: 700
}

 em, i {
    font-style: italic
}

 h1, h2, h3, h4, h5, h6 {
    margin: 30px 0 10px 0;
    color: #292525;
    line-height: 150%;
    font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1",Arial,sans-serif
}

 h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    margin-top: 60px;
    margin-bottom: 26px
}


 h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 26px;
    line-height: 140%
}

 h2 .titleNumber {
    color: #d71a1b;
    margin-right: 8px
}

 h3 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 16px;
    line-height: 140%
}

 h4 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 16px;
    line-height: 140%
}
 

 h5 {
    font-weight: 500;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 16px;
    line-height: 140%
}
 
 h6 {
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 8px;
    line-height: 140%
}
 
:focus {
    outline: none
}
 

body,html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

 body{
    -webkit-tap-highlight-color: transparent
}

h2:first-child {
    margin-top: 30px
}

img {
    max-width: 700px;
    height: auto;
    width: 100%;
    margin: 40px auto!important;
}

img[alt='zoom'] {
    zoom: 66%;
}

img[alt='shadow'] {
    border-radius: 8px;
    box-shadow: 0px 20px 40px 1px rgba(0,0,0,.3);
    border: 1px solid #e4e4e4;
}

img[alt='zoom-shadow'], img[alt='shadow-zoom']{
    zoom: 66%;
    border-radius: 8px;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 20px 40px 1px rgba(0,0,0,.3);
}

img + span {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #8e8787;
    position: relative;
    top: -20px;
    margin-bottom: 20px;
}

.md-fences, code, tt {
    border: none;
}


.megamenu-menu-list li a {
    color: #fff;
}
